@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --dark-purple: #180718;
  --light-purple: #E3DFFF;
  --light-yellow: #FDF5BF;
}

  body{
  background-color: var(--light-yellow);
  color: var(--dark-purple);
}

a:hover{
  cursor:pointer;
}
